---
layout: default
title: Home
---

<div class="rsslink-box"><a class="rsslink" href="http://zslajchrt.github.io/feed.xml">RSS feed for this blog</a></dv>

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>

    {{ post.content | truncatewords: 50, '...' }}
    
    <div class="readmore">
      <a href="{{ site.baseurl }}{{ post.url }}">
        Read more
      </a>
    </div>

  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

<!--div>
<a href="http://validator.w3.org/feed/check.cgi?url=http%3A//zslajchrt.github.io/feed.xml"><img src="valid-rss-rogers.png" alt="[Valid RSS]" title="Validate my RSS feed" /></a>
</div-->
